<h1>Devices for: <%= @location.location_name %></h1>
<h3>Total Devices: <%= @location.devices_count %></h3>
<h3>Event Monitors: <%= @event %></h3>
<h3>MCT Monitors: <%= @mct %></h3>
<table>
  <tr class="lead">
    <th>Status</th>
    <th>Type</th>
    <th>Serial Number</th>
    <th>Imsi</th>
    <th>Iccid</th>
  </tr>
  
<% @location.location_devices.each do |device| %>
  <tr class="<%= cycle('odd','even') %>">
    <td><%= device.device_status.device_status %></td>
    <td><%= device.device_type.device_type %></td>
    <td><%= device.serial_number %></td>
    <td><%= device.imsi %></td>
    <td><%= device.iccid %></td>
  </tr>
<% end %>
